.ui-alert {
  background-color: #F2DEDE;
  border-radius: 0.25rem;
  padding: 1.25rem;
  margin: 1.25rem 0;
}

.ui-alert-title {
  color: #AF4341;
  font-weight: bold;
  font-size: 1.625em;
}

.ui-alert-message {
  color: #AF4341;
  font-size: 1.2em;
}