<div class="jumbotron">
  <form name="contactForm" style="margin-bottom: .5rem;">
    <input class="form-control" type="text" name="name" ng-model="contact.name" ng-required="true" ng-minlength="3"
      placeholder="Name" />
    <input class="form-control" type="text" name="phone" ng-model="contact.phone" ng-required="true"
      ng-pattern="/^\d{4,5}-\d{4}$/" placeholder="Phone" />
    <input class="form-control" type="text" name="date" ng-model="contact.date" ng-required="true" ui-date
      placeholder="Date (dd/mm/yyyy)">

    <select class="form-control" name="operator" ng-model="contact.operator" ng-required="true"
      ng-options="operator.name + ' ( ' + (operator.price | currency)+ ' ) ' for operator in operators | orderBy: 'name'">
      <option value="">Select one operator</option>
    </select>

    <select class="form-control" name="color" ng-model="contact.color" ng-required="true"
      ng-options="color.name for color in colors | orderBy: 'name'">
      <option value="">Select one color</option>
    </select>
    <button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">Add
      Contact</button>
  </form>

  <div class="alert alert-warning" ng-show="contactForm.name.$error.required && contactForm.name.$dirty">
    <p style="margin: 0; padding: 0;">Fill in the field <strong>Name!</strong></p>
  </div>
  <div class="alert alert-warning" ng-show="contactForm.name.$error.minlength">
    <p style="margin: 0; padding: 0;">The <strong>Name</strong> field must be at least <strong>3 characters.</strong>
    </p>
  </div>

  <div class="alert alert-warning" ng-show="contactForm.phone.$error.required && contactForm.phone.$dirty">
    <p style="margin: 0; padding: 0;">Fill in the field <strong>Phone!</strong></p>
  </div>
  <div class="alert alert-warning" ng-show="contactForm.phone.$error.pattern">
    <p style="margin: 0; padding: 0;">The <strong>Phone</strong> field must have the format
      <strong>DDDDD-DDDD.</strong>
    </p>
  </div>

  <div class="alert alert-warning" ng-show="contactForm.operator.$error.required && contactForm.operator.$dirty">
    <p style="margin: 0; padding: 0;">Select an option <strong>Operator!</strong></p>
  </div>
  <div class="alert alert-warning" ng-show="contactForm.color.$error.required && contactForm.color.$dirty">
    <p style="margin: 0; padding: 0;">Select an option <strong>Color!</strong></p>
  </div>
</div>